/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

/* Add here all your CSS customizations */

@font-face {
    font-family: myFirstFont;
    src: url(DroidKufi-Regular.ttf);
}

body {
    padding: 0;
    margin: 0;
}

* {
    direction: rtl;
    text-align: right;
    word-spacing: 1px;
    font-family: myFirstFont;
}

.inner-wrapper {
    padding-top: 0px !important;
}

.page-header .breadcrumbs li:after {
    content: '';
}

.nav .nav-link {
    color: #fff;
    line-height: 40px;
    font-size: 22px;
}

a {
    text-decoration: none !important;
}

.right-wrapper .breadcrumbs li span a {
    font-size: 22px;
}

.right-wrapper .breadcrumbs li span a:hover {
    color: rgb(210, 227, 252) !important;
}

.header {
    background: #1D2127 !important;
    border-bottom: none !important;
    border-top: none !important;
    z-index: 1000;
}

@media only screen and (max-width: 767px) {
    .header .logo-container {
        background: #1D2127 !important;
        border-bottom: none !important;
        border-top: none !important;
    }
    .img-logo {
        display: none;
    }
}

.sidebar-toggle:hover i {
    color: #D4AF37 !important;
}

.nav-link i {
    color: #D4AF37;
}

#menu .nav .nav-link {
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}

#menu .nav .nav-link:hover {
    -webkit-transform: translate(-20px);
    -ms-transform: translate(-20px);
    transform: translate(-20px);
}

.logo-name {
    color: #D4AF37;
    font-size: 22px;
    font-weight: 900;
    font-family: 'Lemonada', cursive;
}

.scroll-to-top i {
    color: #fff;
}

.scroll-to-top:hover i {
    color: #D4AF37;
}

.header .toggle-sidebar-left {
    background: #D4AF37 !important;
}

.login-user {
    height: 100%;
    color: #D4AF37 !important;
    font-size: 22px;
    padding-top: 10px;
}

.dropdown-menu {
    left: -55px !important;
}

.fa-caret-down:before {
    content: "" !important;
}

@media (max-width:800px) {
    .login-user {
        float: left;
        padding-top: 10px !important;
    }
}

.buttonResult {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 500;
    padding: 15px 10px;
    width: 25%;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    outline: none !important;
}

.buttonResult:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 767px) {
    .buttonResult {
        width: 40%;
    }
}

@media (max-width: 768px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}