/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.upload-card {
    font-size: 25px;
    color: black;
    font-weight: 900;
}

@media (max-width:800px) {
    .upload-card {
        font-size: 20px;
        color: black;
        font-weight: 900;
    }
}

.upload-card i {
    font-size: 30px;
    color: #D4AF37;
    font-weight: 900;
}

.char {
    border-radius: 7px;
}

.char h4 {
    color: #000;
    font-weight: 700;
}