/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.resultCard {
    border-radius: 10px;
}

.result {
    font-size: 25px;
    color: black;
    font-weight: 900;
}

@media (max-width:800px) {
    .result {
        font-size: 20px;
        color: black;
        font-weight: 900;
    }
}

.result i {
    font-size: 40px;
    color: #D4AF37;
    font-weight: 900;
}

.buttonResult {
    border: none;
    background: #404040;
    color: #ffffff !important;
    font-weight: 500;
    padding: 15px 10px;
    width: 25%;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 6px;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    outline: none !important;
}

.buttonResult:hover {
    color: #404040 !important;
    font-weight: 700 !important;
    background: none;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

@media only screen and (max-width: 767px) {
    .header .logo-container {
        background: #1D2127 !important;
        border-bottom: none !important;
        border-top: none !important;
    }
    .img-logo {
        display: none;
    }
    .buttonResult {
        width: 40%;
    }
}